In [3]:
import os

In [4]:
os.getcwd()

'C:\\Users\\alex\\Documents\\Data Science\\Kaggle'

In [81]:
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error

In [6]:
data = pd.read_csv("melbourne_housing_data_TRAIN.csv")

In [122]:
y = data.SalePrice
melbourne_predictors = ['TotRmsAbvGrd', 'FullBath', 'LotArea', 'GrLivArea', 
                        'YearBuilt', 'OverallQual', 'BedroomAbvGr', "1stFlrSF",
                        "2ndFlrSF", "LotFrontage"]
melbourne_predictors_small = [ 'GrLivArea']
X = data[melbourne_predictors]
melbourne_model = DecisionTreeRegressor(max_leaf_nodes=None, max_depth=None)
train_X, test_X, train_y, test_y = train_test_split(X, y, random_state=0)

melbourne_model.fit(train_X, train_y)
melbourne_predicted = melbourne_model.predict(test_X)
mae_dt_regressor = mean_absolute_error(test_y, melbourne_predicted)

# Now try again with a RandomForestRegressor
melbourne_rf_model = RandomForestRegressor()
melbourne_rf_model.fit(train_X, train_y)
melbourne_rf_predicted = melbourne_rf_model.predict(test_X)
mae_rf_regressor = mean_absolute_error(test_y, melbourne_rf_predicted)

print("DecisionTreeRegressor MAE: ", mae_dt_regressor)
print("RandomForestRegressor MAE: ", mae_rf_regressor)

ValueError: Input contains NaN, infinity or a value too large for dtype('float32').

In [78]:

from sklearn.externals.six import StringIO  
#from IPython.display import Image  
from sklearn.tree import export_graphviz
import pydotplus
dot_data = StringIO()
export_graphviz(dtree, out_file=dot_data,  
                filled=True, rounded=True,
                special_characters=True)
graph = pydotplus.graph_from_dot_data(dot_data.getvalue())  
img=graph.create_png()
with open("output.png", "wb") as file:
    file.write(img)

In [80]:
from sklearn.ensemble import RandomForestRegressor

In [90]:
[x for x in range(0,20) if True]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [96]:
train_X.columns

Index(['TotRmsAbvGrd', 'FullBath', 'LotArea', 'GrLivArea', 'YearBuilt',
       'OverallQual', 'BedroomAbvGr', '1stFlrSF', '2ndFlrSF'],
      dtype='object')

In [146]:
data.describe()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
count,1460.000000,1460.000000,1201.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1452.000000,1460.000000,...,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,730.500000,56.897260,70.049958,10516.828082,6.099315,5.575342,1971.267808,1984.865753,103.685262,443.639726,...,94.244521,46.660274,21.954110,3.409589,15.060959,2.758904,43.489041,6.321918,2007.815753,180921.195890
std,421.610009,42.300571,24.284752,9981.264932,1.382997,1.112799,30.202904,20.645407,181.066207,456.098091,...,125.338794,66.256028,61.119149,29.317331,55.757415,40.177307,496.123024,2.703626,1.328095,79442.502883
min,1.000000,20.000000,21.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,34900.000000
25%,365.750000,20.000000,59.000000,7553.500000,5.000000,5.000000,1954.000000,1967.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,2007.000000,129975.000000
50%,730.500000,50.000000,69.000000,9478.500000,6.000000,5.000000,1973.000000,1994.000000,0.000000,383.500000,...,0.000000,25.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,163000.000000
75%,1095.250000,70.000000,80.000000,11601.500000,7.000000,6.000000,2000.000000,2004.000000,166.000000,712.250000,...,168.000000,68.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,214000.000000
max,1460.000000,190.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,5644.000000,...,857.000000,547.000000,552.000000,508.000000,480.000000,738.000000,15500.000000,12.000000,2010.000000,755000.000000

In [123]:
X.columns

Index(['TotRmsAbvGrd', 'FullBath', 'LotArea', 'GrLivArea', 'YearBuilt',
       'OverallQual', 'BedroomAbvGr', '1stFlrSF', '2ndFlrSF', 'LotFrontage'],
      dtype='object')

In [136]:
X=X_orig.copy()

In [137]:
cols_with_missing = [col for col in X.columns if X[col].isnull().any()]
cols_with_missing

['LotFrontage']

In [138]:
for col in cols_with_missing:
    X[col + "_was_missing"] = X[col].isnull()

In [139]:
X.columns

Index(['TotRmsAbvGrd', 'FullBath', 'LotArea', 'GrLivArea', 'YearBuilt',
       'OverallQual', 'BedroomAbvGr', '1stFlrSF', '2ndFlrSF', 'LotFrontage',
       'LotFrontage_was_missing'],
      dtype='object')

In [140]:
X['LotFrontage_was_missing'].sum()

259

In [145]:
X[['LotFrontage', 'LotFrontage_was_missing']][X['LotFrontage_was_missing']].head()

    LotFrontage  LotFrontage_was_missing
7           NaN                     True
12          NaN                     True
14          NaN                     True
16          NaN                     True
24          NaN                     True

In [147]:
from sklearn.preprocessing import Imputer

In [148]:
my_imputer = Imputer()

In [152]:
np.asarray([[[1,2,3],[4,5,6]]]).ravel()

array([1, 2, 3, 4, 5, 6])

In [165]:
np.asarray([np.random.randint(0,256) for i in range(0,64)])

array([183,  93,  75, 187, 198, 231,  52, 135, 165, 240,  18, 245, 225,
       127, 130,  90,  85, 223, 172,  82, 150,  18,  84,  43,  83, 186,
       196, 128, 222, 234,  32, 188, 205, 140, 152,  76,  58,  88,  80,
       130, 102,  52, 184, 147, 133, 196,   0, 164, 165, 169, 215,  53,
       247,  33, 203, 135,  47, 229, 233, 196,   1, 216,  90, 119])

In [186]:
X_imputed_array = my_imputer.transform(X)

In [178]:
Ximp = X.copy()

In [188]:
X_imputed = pd.DataFrame(X_imputed_array, columns=X.columns, index=X.index)