In [1]:
import numpy as np
import pandas as pd

In [4]:
df = pd.DataFrame(np.random.random((10,12)))

In [14]:
df.loc[2,3]=None

In [23]:
df.drop((2,3), axis=1, inplace=True)

In [26]:
df.dropna(axis=1, subset=

,0,1,2,4,5,6,7,8,9,10,11
0,0.315637,0.358427,0.511217,0.506341,0.244675,0.763998,0.144284,0.798365,0.049617,0.296696,0.860275
1,0.311448,0.388560,0.847687,0.330526,0.300813,0.472197,0.977288,0.718080,0.829290,0.343679,0.575525
2,0.316849,0.520446,0.071565,0.135464,0.519125,0.002865,0.512454,0.489464,0.849641,0.767010,0.230370
3,0.872243,0.895999,0.902483,0.384476,0.867971,0.865106,0.345712,0.950901,0.384284,0.621860,0.055425
4,0.115854,0.398076,0.313612,0.989340,0.021283,0.579319,0.779804,0.106354,0.031163,0.494273,0.935577
5,0.329989,0.322090,0.139090,0.727618,0.895571,0.586341,0.654069,0.264892,0.718634,0.772841,0.335199
6,0.312264,0.813791,0.885333,0.984370,0.657784,0.020924,0.048744,0.621043,0.414620,0.627433,0.944427
7,0.771428,0.411516,0.795335,0.109483,0.833686,0.180414,0.875249,0.472819,0.460867,0.194592,0.777218
8,0.762442,0.643372,0.759062,0.549653,0.030946,0.451807,0.948251,0.572369,0.438936,0.179381,0.526798
9,0.200869,0.529583,0.027123,0.998210,0.339330,0.126075,0.552509,0.935499,0.473965,0.878842,0.154651

In [51]:
import math

max_depth = 100
num=6

def sqrtof(x, depth):
    global max_depth
    
    if (depth == max_depth):
        result = math.sqrt(x)
    else:
        result = math.sqrt(x + sqrtof(x, depth+1))
    
    return result

# print("sqrtof(6, 1) with max depth == {:d}:".format(max_depth), result)
# print("int(result) == result returns ", int(result) == result)

result_list = []
for i in range(1,1001):
#    print("trying ", i)
    result = sqrtof(i,1)
    if result == int(result):
        result_list.append(i)

In [53]:
len(result_list)

31

In [54]:
import numpy as np

In [ ]:
np.dtype