In [83]:
import pandas as pd
import numpy as np
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error
from sklearn.preprocessing import Imputer

In [2]:
train_data_all = pd.read_csv("housing_data_TRAIN.csv")
train_data=train_data_all.select_dtypes(exclude=['object'])

In [10]:
#X_train.info()
cols_with_null = [col for col in train_data.isnull().any().index if train_data.isnull().any()[col]]
#cols_with_null2 = [col for col in train_data if train_data[col].isnull().any()]

In [12]:
X_train, X_test, y_train, y_test = train_test_split(train_data.drop("SalePrice", axis=1), 
                                                        train_data['SalePrice'], test_size=0.33, 
                                                        random_state=42)

X_train_dropnulls = X_train.drop(cols_with_null, axis=1)
X_test_dropnulls = X_test.drop(cols_with_null, axis=1)

my_imputer = Imputer()
X_train_imputed = pd.DataFrame(my_imputer.fit_transform(X_train), index=X_train.index, columns=X_train.columns)
X_test_imputed = pd.DataFrame(my_imputer.transform(X_test),index=X_test.index, columns=X_test.columns)

In [69]:
#pd.concat((X_test[cols_with_null], X_test_imputed[cols_with_null]), axis=1, keys=['orig', 'imputed'])
#Print any columns in X_test[cols_with_null] where the cell values are different from the cell 
# values in x_test_imputed[cols_with_null].
# Uses the pandas.ne funciton to find cells that are different
#X_test[cols_with_null][X_test[cols_with_null].ne(X_test_imputed[cols_with_null], axis=1).any(axis=1)]

In [86]:
data_to_use = X_train_imputed
gbr = GradientBoostingRegressor()
gbr.fit(data_to_use, y_train)
predicted = gbr.predict(X_test_imputed)
mae_imputed = mean_absolute_error(y_test, predicted)
mae_imputed

18106.787691817808

In [102]:
max_leaf_results=results

In [117]:
data_to_use = X_train_imputed
#lr_results = []
#for max_leaves in [5,10,20,50,100,200,500,1000,2000,5000,10000]:
#for lr in [.01,.02, .04, .06, .1, .2]:
gbr_tuned = GradientBoostingRegressor(max_leaf_nodes=10,learning_rate=.1)
gbr_tuned.fit(data_to_use, y_train) 
predicted = gbr_tuned.predict(X_test_imputed)
mae_imputed = mean_absolute_error(y_test, predicted)
mae_imputed
#lr_results.append((lr, mae_imputed))

#print(lr_results)

17251.754323936024

In [116]:
np.set_printoptions(suppress=True)
a=np.asarray(lr_results)
a[a[:,1].argsort()]

array([[     0.1       ,  17224.37109173],
       [     0.1       ,  17352.33835584],
       [     0.2       ,  17838.20266343],
       [     0.2       ,  17899.77437875],
       [     0.04      ,  17908.05220527],
       [     0.06      ,  17954.23475308],
       [     0.06      ,  18025.39331073],
       [     0.04      ,  18033.15418019],
       [     0.02      ,  21467.13339519],
       [     0.02      ,  21563.67391189],
       [     0.01      ,  30656.40253661],
       [     0.01      ,  30704.62451616]])

In [100]:
results[np.argmin([j for i, j in results])]

(10, 17725.129032720026)

In [84]:
# Compare to a RandomForest
rf_regressor = RandomForestRegressor()
# Fit with dropnulls
rf_regressor.fit(X_train_imputed, y_train)
predicted = rf_regressor.predict(X_test_imputed)
mae_dropnulls = mean_absolute_error(y_test, predicted)
mae_dropnulls

18854.311825726141

In [90]:
print("MAE dropping columns with nulls: ", mae_dropnulls)
print("MAE imputing values for fields with nulls: ", mae_imputed)
print("MAE with imputed values and _was_null column: ", mae_imputed_with_was_missing)

MAE dropping columns with nulls:  19395.9226141
MAE imputing values for fields with nulls:  18751.5514523
MAE with imputed values and _was_null column:  18989.8529046

In [92]:
X_train.sample(10)

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,LotFrontage_was_missing,MasVnrArea_was_missing,GarageYrBlt_was_missing
1329,1330.0,60.0,63.000000,9084.0,7.0,5.0,1998.0,1998.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,6.0,2006.0,0.0,0.0,0.0
242,243.0,50.0,63.000000,5000.0,5.0,4.0,1900.0,1950.0,0.0,0.0,...,77.0,0.0,0.0,0.0,0.0,4.0,2006.0,0.0,0.0,0.0
1313,1314.0,60.0,108.000000,14774.0,9.0,5.0,1999.0,1999.0,165.0,0.0,...,0.0,0.0,0.0,0.0,0.0,5.0,2010.0,0.0,0.0,0.0
805,806.0,20.0,91.000000,12274.0,7.0,5.0,2008.0,2008.0,256.0,0.0,...,0.0,0.0,0.0,0.0,0.0,7.0,2008.0,0.0,0.0,0.0
580,581.0,20.0,70.049958,14585.0,6.0,6.0,1960.0,1987.0,85.0,594.0,...,0.0,0.0,0.0,0.0,0.0,6.0,2007.0,1.0,0.0,0.0
974,975.0,70.0,60.000000,11414.0,7.0,8.0,1910.0,1993.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,10.0,2009.0,0.0,0.0,0.0
1211,1212.0,50.0,152.000000,12134.0,8.0,7.0,1988.0,2005.0,0.0,427.0,...,0.0,0.0,0.0,0.0,0.0,6.0,2010.0,0.0,0.0,0.0
1202,1203.0,50.0,50.000000,6000.0,5.0,8.0,1925.0,1997.0,0.0,0.0,...,208.0,0.0,0.0,0.0,0.0,5.0,2009.0,0.0,0.0,0.0
1135,1136.0,30.0,60.000000,6180.0,6.0,5.0,1926.0,1950.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,5.0,2007.0,0.0,0.0,0.0
1227,1228.0,20.0,72.000000,8872.0,5.0,8.0,1965.0,2008.0,300.0,595.0,...,0.0,0.0,0.0,0.0,0.0,12.0,2008.0,0.0,0.0,0.0

In [95]:
np.asarray([1,"a",3.0])

array(['1', 'a', '3.0'],
      dtype='<U11')

In [ ]:
np.